/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
.model {
  @apply w-screen h-screen bg-no-repeat bg-cover sm:bg-cover pl-4 pr-3 transition-all overflow-x-hidden;
}
.model {
  background-image: url(images/model3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.greet {
  @apply text-center text-4xl  font-semibold text-gray-700 -mt-3 tracking-wider sm:text-5xl transition-all;
}
.greet::after {
  content: "Model S";
  animation: greeting linear 10s infinite;
}
@keyframes greeting {
  20% {
    content: "Model 3";
  }
  40% {
    content: "Model X";
  }
  60% {
    content: "Model Y";
  }
  80% {
    content: "Solar Roof";
  }
  100% {
    content: "Solar Pannels";
  }
}

.product0,
.product1,
.product2,
.product3,
.product4,
.product5 {
  @apply w-screen h-mid bg-no-repeat bg-cover sm:bg-cover overflow-x-hidden transition-all;
}
.modelInfo0,
.modelInfo1,
.modelInfo2,
.modelInfo3 {
  @apply w-screen h-72 md:h-96 mt-32 bg-no-repeat bg-cover  overflow-x-hidden  transition-all;
}
.product0,
.modelInfo0 {
  background-image: url(images/modelS.jpg);
}
.product1,
.modelInfo1 {
  background-image: url(images/model3.jpg);
}
.product2,
.modelInfo2 {
  background-image: url(images/modelX.jpg);
}
.product3,
.modelInfo3 {
  background-image: url(images/modelY.jpg);
}
.product4 {
  background-image: url(images/solarRoof.jpg);
}
.product5 {
  background-image: url(images/solarPannel.jpg);
}
